services:
  backend:
    image: byeolbit0502/node-server:latest
    container_name: node-server
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: always

  db:
    image: mariadb:11
    container_name: mariadb_container
    environment:
      MYSQL_ROOT_USER: ${MYSQL_ROOT_USER}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    volumes:
      - mariadb_data:/var/lib/mysql
    restart: always

volumes:
  mariadb_data:
