name: CI TEST

on:
  push:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    setps:
      - uses: actions/checkout@v4

      - name: Node 설치
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: 의존성 설치
        run: npm install

      - name: 테스트 실행
        run: npm test
